# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
cifar10*/
experiments.sh

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.env
.venv
env/
venv/

# IDEs
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Data and model checkpoints
data/
*-checkpoints/
*.pth

# Logs
*.log
*-Results/

# OS files
.DS_Store
Thumbs.db

# Misc
*.pkl
out.txt
